<div id="{{ chart.html_id }}" style="width:600px;height:300px;"></div>
<script type="text/javascript">
    // setup plot
   var options = {
				series: {
					lines: {
						show: true,
						fill: true,
						lineWidth: 4,
						steps: true,
					},
					points: {
						show: true,
						radius: 4,
						fill: true
					}
				},
				legend: {
					position: 'ne'
				},
				tooltip: true,
				tooltipOpts: {
					content: '%s: %y'
				},
				xaxis: { mode: "time" },
				grid: { borderWidth: 2, hoverable: true }
			};

    $.plot($("#{{ chart.html_id }}"), {{ chart.get_data_json|safe }}, options);
</script>