{% load graph_tags %}

<script type="text/javascript">
    $(function () {
        $('#{{ chart.get_html_id }}').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: "{{ chart.get_options.title }}"
            },
            xAxis: [{
                categories: {{ chart.get_categories|safe }},
                crosshair: true
            }],
            yAxis: [
                {% for title in chart.get_y_axis_titles %}
                    { // Primary yAxis
                        title: {
                            text: "{{ title }}"
                        }
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            tooltip: {
                shared: true
            },
            series: [
                {% for ele in chart.get_series %}
                    {
                        type: "{% random_chart_type %}",
                        data: {{ ele }}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        });
    });
</script>
