{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock %}

{% block content %}
    <div id="line_chart">
        {{ line_chart.as_html }}
    </div>
    <br />

    <div id="column_chart">
        {{ column_chart.as_html }}
    </div>

    <br />

    <div id="bar_chart">
        {{ bar_chart.as_html }}
    </div>
    <br />

    <div id="bar_chart">
        {{ candlestick_chart.as_html }}
    </div>
    <br />
{% endblock %}