{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock %}

{% block content %}
    <div>
        <p>
            graphos.renderer.gchart provides charting via Google Charts API.
        </p>
    </div>

    <div id="line_chart" class="well">

        {{ line_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales',],)
            gchart.LineChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <div id="column_chart">
        {{ column_chart.as_html }}
    </div>

    <br />

    <div id="bar_chart">
        {{ bar_chart.as_html }}
    </div>
    <br />

    <div id="candlestick_chart">
        {{ candlestick_chart.as_html }}
    </div>

    <div id="pie_chart">
        {{ pie_chart.as_html }}
    </div>
    <br />
{% endblock %}