{% extends 'base.html' %}
{% load graphos_tags %}



{% block content %}
<div class='font-set'>
    <h1>Graphos Examples</h1>
    <p class='font-set'>
        Graphos is an app for django to plot data into a graph. We currently support
        Flot, Google Chart API and YUI Charts. Graphos can read data from CSV, Models, MongoDB and Redis.
    </p>
<br>



<h2>Flot Chart</h2>
{{ chart.as_html|safe }}
<!--
This is where magic happens.
-->

<h2>Google charts<h2>

{{ g_chart.as_html|safe }}

</div>
{% endblock %}
