{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>

	<script type="text/javascript">

	$(function() {

		datasets = {{ datasets|safe }}

		default_options = {
					yaxis: {
						min: 0
					},
					xaxis: {
						tickDecimals: 0
					}
				}

		options = default_options

		var i = 0;
		$.each(datasets, function(key, val) {
			val.color = i;
			++i;
		});

		var reset_state = function(){
			$.each(datasets, function(key, val){
				$(".color-control").val("");
				plotAccordingToChoices();
			});

		};

		$("#reset").click(reset_state);

		// insert checkboxes
		var choiceContainer = $("#choices");
		$.each(datasets, function(key, val) {
			choiceContainer.append("<br/><input type='checkbox' name='" + key +
				"' checked='checked' id='id" + key + "'></input>" +
				"<label for='id" + key + "'>"
				+ val.label + "</label>"
				+"color: <input type='textinput' class='color-control' id='color"+key+"'></input>"
				+"label: <input type='textinput' class='label-control' id='label"+key+"'></input>"
				+"points: <input type='checkbox' class='points-control' id='points"+key+"'></input><br/>");
		});

		choiceContainer.append(
			"xmin: <input type='textinput' class='xmin-control' id='xmin'></input>"
			+"xmax: <input type='textinput' class='xmax-control' id='xmax'></input>"
			+"ymin: <input type='textinput' class='ymin-control' id='ymin'></input>"
			+"ymax: <input type='textinput' class='ymax-control' id='ymax'></input>");

		choiceContainer.find('input[type="checkbox"]').click(plotAccordingToChoices);
		choiceContainer.find('input[type="textinput"]').blur(plotAccordingToChoices);

		function plotAccordingToChoices() {

			var data = [];

			xmin = $("#xmin").val();
			xmax = $("#xmax").val();
			ymin = $("#ymin").val();
			ymax = $("#ymax").val();

			if(xmin){
				options.xaxis.min = xmin;
			}
			if(xmax){
				options.xaxis.max = xmax;
			}
			if(ymin){
				options.yaxis.min = ymin;
			}
			if(ymax){
				options.yaxis.max = ymax
			}

			choiceContainer.find("input:checked").each(function () {
				var key = $(this).attr("name");
				color = $("#color"+key).val();
				label = $("#label"+key).val();
				points = $("#points"+key).attr("checked");
				points = Boolean(points);

				if(color){
					datasets[key].color=color;
				}
				if(label){
					datasets[key].label=label;
				}

				if(points){
					datasets[key].points = {"show": points};
					datasets[key].lines = {"show": true};
				}

				if (key && datasets[key]) {
					data.push(datasets[key]);
				}
			});

			if (data.length > 0) {
				$.plot("#placeholder", data, options);
			}
		}

		plotAccordingToChoices();
	});

	</script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
      <li><a href="{% url 'demo_home' %}">Home</a></li>
      <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
      <li><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
      <li><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
      <li><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
      <li class="active"><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
  </ul>
{%  endblock %}

{% block content %}
		<div class="demo-container">
			<a href="#" id="reset" class="btn">reset</a>
			<p id="choices" style="width:135px;"></p>
			<div id="placeholder" class="demo-placeholder" style="width:700px; height: 400px"></div>

		</div>

		<div id="chart_2">
			{{ chart_2.as_html }}
		</div>

		<div id="chart_3">

			{{ chart_3.as_html }}
		</div>
{% endblock %}