<div id="{{ chart.get_html_id }}" style="width: {{ chart.width }}px; height: {{ chart.height }}px;"></div>
<script type="text/javascript">
new Morris.{{ chart.chart_type }}({
  // ID of the element in which to draw the chart.
  element: '{{ chart.get_html_id }}',
  // The name of the data record attribute that contains x-values.
  xkey: '{{ chart.get_category_key }}',
  // A list of names of data record attributes that contain y-values.
  ykeys: {{ chart.get_y_keys|safe }},
  // Bring in additional options from a dictionary
  {% for key,value in chart.get_options.items %}
  {{ key }}: {{ value|safe }},
  {% endfor %}
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: {{ chart.get_data_json|safe }}
});
</script>