{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="/{{STATIC_URL}}css/c3.min.css">
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="/{{STATIC_URL}}js/c3.min.js"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
      <li><a href="{% url 'demo_home' %}">Home</a></li>
      <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
      <li><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
      <li><a href="{% url 'demo_morris_demo' %}">Morris</a></li>
      <li><a href="{% url 'demo_matplotlib_demo' %}">Matplotlib</a></li>
      <li><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
      <li><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
      <li><a href="{% url 'demo_highcharts_demo' %}">Highcharts</a></li>
      <li class="active"><a href="{% url 'demo_c3js_demo' %}" >C3JS</a></li>
      <li><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
  </ul>
{%  endblock %}

{% block content %}
    <div>
        <p>
            graphos.renderer.c3js provides charting via C3JS chart API.
        </p>
    </div>

    <div id="line_chart" class="well">

        {{ line_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales',],)
            c3js.LineChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <div id="spline_chart">
        {{ spline_chart.as_html }}
    </div>

    <br />

    <div id="bar_chart">
        {{ bar_chart.as_html }}
    </div>
    <br />

    <div id="column_chart">
        {{ column_chart.as_html }}
    </div>
    <br />

    <div id="pie_chart">
        {{ pie_chart.as_html }}
    </div>
    <br />

    <div id="donut_chart">
        {{ donut_chart.as_html }}
    </div>
{% endblock %}
