{% extends 'base.html' %}

{% block menu %}
  <ul class="nav nav-tabs">
      <li><a href="{% url 'demo_home' %}">Home</a></li>
      <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
      <li><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
      <li><a href="{% url 'demo_morris_demo' %}">Morris</a></li>
      <li class="active"><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
      <li><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
      <li><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
  </ul>
{%  endblock %}

{% block content %}
    <div>
        <p>
            graphos.renderer.flot provides charting via Flot Charts API.
        </p>
    </div>

    <h2>Line Chart</h2>

    <div id="line_chart" class="well">

        {{ line_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales'])
            line_chart = flot.LineChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <br />
    <h2>Bar Chart</h2>
    <div id="bar_chart" class="well">

        {{ bar_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales'])
            bar_chart = flot.BarChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <br />
    <h2>Point Chart</h2>
    <div id="point_chart" class="well">

        {{ point_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales'])
            bar_chart = flot.PointChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <br />
{% endblock %}
