{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", "treemap", "gauge"]});
</script>
<script>
  $(function(){
    $("#get-data").on("click", function(){
        alert(10);
        $.getJSON("/ghcart-json/", function(data){
          alert(data);
          //custom_line_chart.draw()

        });
    });

  });
</script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
      <li><a href="{% url 'demo_home' %}">Home</a></li>
      <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
      <li class="active"><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
      <li><a href="{% url 'demo_morris_demo' %}">Morris</a></li>
      <li><a href="{% url 'demo_matplotlib_demo' %}">Matplotlib</a></li>
      <li><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
      <li><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
      <li><a href="{% url 'demo_highcharts_demo' %}">Highcharts</a></li>
      <li><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
  </ul>
{%  endblock %}

{% block content %}
    <div>
        <p>
            graphos.renderer.gchart provides charting via Google Charts API.
        </p>
    </div>

    <h2>Line Chart</h2>
    <div id="line_chart" class="well">

        {{ line_chart.as_html }}
        <pre class="code">
            queryset = Account.objects.all()
            data_source = ModelDataSource(queryset, fields=['year', 'sales',],)
            chart = gchart.LineChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <h2>Column Chart</h2>
    <div id="column_chart" class="well">
        {{ column_chart.as_html }}
        <pre class="code">
            data = [
                   ['Year', 'Sales', 'Expenses', 'Items Sold', 'Net Profit'],
                   ['2004', 1000, 400, 100, 600],
                   ['2005', 1170, 460, 120, 310],
                   ['2006', 660, 1120, 50, -460],
                   ['2007', 1030, 540, 100, 200],
                   ]
            data_source = SimpleDataSource(data)
            chart = gchart.ColumnChart(data_source, options={'title': "Sales/ Expense"})
        </pre>
    </div>
    <br />

    <h2>Bar Chart</h2>
    <div id="bar_chart" class="well">
        {{ bar_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = gchart.BarChart(data_source, options={'title': "Expense Growth"})
        </pre>
    </div>
    <br />

    <h2>Candlestick Chart</h2>
    <div id="candlestick_chart">
        {{ candlestick_chart.as_html }}
        <pre class="code">
            data = [['Mon', 20, 28, 38, 45],
                    ['Tue', 31, 38, 55, 66],
                    ['Wed', 50, 55, 77, 80],
                    ['Thu', 77, 77, 66, 50],
                    ['Fri', 68, 66, 22, 15]]
            data_source = SimpleDataSource(data)
            chart = gchart.CandlestickChart(data_source)
        </pre>
    </div>
    <br />

    <h2>Pie Chart</h2>
    <div id="pie_chart" class="well">
        {{ pie_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = gchart.PieChart(data_source)
        </pre>
    </div>
    <br />

    <h2>Treemap Chart</h2>
    <div id="treemap_chart" class="well">
        {{ treemap_chart.as_html }}
        <pre class="code">
        treemap_data = [
                  ['Location', 'Parent', 'Market trade volume (size)', 'Market increase/decrease (color)'],
                  ['Global',    None,                 0,                               0],
                  ['America',   'Global',             0,                               0],
                  ['Europe',    'Global',             0,                               0],
                  ['Asia',      'Global',             0,                               0],
                  ['Australia', 'Global',             0,                               0],
                  ['Africa',    'Global',             0,                               0],
                  ['Brazil',    'America',            11,                              10],
                  ['USA',       'America',            52,                              31],
                  ['Mexico',    'America',            24,                              12],
                  ['Canada',    'America',            16,                              -23],
                  ['France',    'Europe',             42,                              -11],
                  ['Germany',   'Europe',             31,                              -2],
                  ['Sweden',    'Europe',             22,                              -13],
                  ['Italy',     'Europe',             17,                              4],
                  ['UK',        'Europe',             21,                              -5],
                  ['China',     'Asia',               36,                              4],
                  ['Japan',     'Asia',               20,                              -12],
                  ['India',     'Asia',               40,                              63],
                  ['Laos',      'Asia',               4,                               34],
                  ['Mongolia',  'Asia',               1,                               -5],
                  ['Israel',    'Asia',               12,                              24],
                  ['Iran',      'Asia',               18,                              13],
                  ['Pakistan',  'Asia',               11,                              -52],
                  ['Egypt',     'Africa',             21,                              0],
                  ['S. Africa', 'Africa',             30,                              43],
                  ['Sudan',     'Africa',             12,                              2],
                  ['Congo',     'Africa',             10,                              12],
                  ['Zaire',     'Africa',             8,                               10]]
        data_source = SimpleDataSource(data=treemap_data)
        chart = gchart.TreeMapChart(data_source)
        </pre>
    </div>
	<br/>

    <h2>Gauge Chart</h2>
    <div id="gauge_chart" class="well">
      {{ gauge_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales'])
            chart = gchart.GaugeChart(
                data_source,
                options={
                    'redFrom': 0,
                    'redTo': 800,
                    'yellowFrom': 800,
                    'yellowTo': 1500,
                    'greenFrom': 1500,
                    'greenTo': 3000,
                    'max': 3000,
                }
            )</pre>
    </div>
	<br/>

    <h2>Area Chart</h2>
    <div id="area_chart" class="well">
        {{ area_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales'])
            chart = gchart.AreaChart(data_source)
        </pre>
    </div>
    <br />

    <div>
      {{ custom_chart.as_html }}
      <a href="#" id="get-data" class="btn">Get Data</a>
    </div>
    <br />

{% endblock %}
