{% extends 'base.html' %}

{% block menu %}
  <ul class="nav nav-tabs">
      <li><a href="{% url 'demo_home' %}">Home</a></li>
      <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
      <li><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
      <li><a href="{% url 'demo_morris_demo' %}">Morris</a></li>
      <li class="active"><a href="{% url 'demo_matplotlib_demo' %}">Matplotlib</a></li>
      <li><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
      <li><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
      <li><a href="{% url 'demo_highcharts_demo' %}">Highcharts</a></li>
      <li><a href="{% url 'demo_c3js_demo' %}">C3JS</a></li>
      <li><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
  </ul>
{%  endblock %}

{% block content %}
    <div>
        <p>
            graphos.renderer.matplotlib_renderer provides charting via matplotlib.
        </p>
    </div>
    <div id="line_chart" class="well">
        {{ line_chart.as_html }}
    </div>
    <div id="bar_chart" class="well">
        {{ bar_chart.as_html }}
    </div>
{% endblock %}
