{% extends 'base.html' %}

{% block extra_head %}
  <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
      <li><a href="{% url 'demo_home' %}">Home</a></li>
      <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
      <li><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
      <li><a href="{% url 'demo_morris_demo' %}">Morris</a></li>
      <li><a href="{% url 'demo_matplotlib_demo' %}">Matplotlib</a></li>
      <li><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
      <li class="active"><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
      <li><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
  </ul>
{%  endblock %}

{% block content %}
    <div>
        <p>
            graphos.renderer.yui provides charting via YUI chart API.
        </p>
    </div>

    <h2>Line Chart</h2>
    <div id="line_chart" class="well">

        {{ line_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales',],)
            gchart.LineChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <h2>Spline Chart</h2>
    <div id="spline_chart" class="well">

        {{ spline_chart.as_html }}
        <pre class="code">
            data_source = ModelDataSource(queryset, fields=['year', 'sales',],)
            gchart.LineChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <h2>Column Chart</h2>
    <div id="column_chart" class="well">
        {{ column_chart.as_html }}
    </div>

    <br />

    <h2>Bar Chart</h2>
    <div id="bar_chart" class="well">
        {{ bar_chart.as_html }}
    </div>
    <br />

    <h2>Candlestick Chart</h2>
    <div id="candlestick_chart" class="well">
        {{ candlestick_chart.as_html }}
    </div>

    <h2>Pie Chart</h2>
    <div id="pie_chart" class="well">
        {{ pie_chart.as_html }}
    </div>

    <h2>Area Chart</h2>
    <div id="area_chart" class="well">
        {{ area_chart.as_html }}
    </div>

    <h2>Areaspline Chart</h2>
    <div id="area_spline_chart" class="well">
        {{ area_spline_chart.as_html }}
    </div>

{% endblock %}
