{% extends 'base.html' %}

{% block extra_head %}
  <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
{% endblock %}

{% block menu %}
  <ul class="nav nav-tabs">
      <li><a href="{% url 'demo_home' %}">Home</a></li>
      <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
      <li><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
      <li><a href="{% url 'demo_morris_demo' %}">Morris</a></li>
      <li><a href="{% url 'demo_matplotlib_demo' %}">Matplotlib</a></li>
      <li><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
      <li class="active"><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
      <li><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
  </ul>
{%  endblock %}

{% block content %}
    <div>
        <p>
            graphos.renderer.yui provides charting via YUI chart API.
        </p>
    </div>

    <h2>Line Chart</h2>
    <div id="line_chart" class="well">

        {{ line_chart.as_html }}
        <pre class="code">
            queryset = Account.objects.all()
            data_source = ModelDataSource(queryset, fields=['year', 'sales',],)
            chart = yui.LineChart(data_source, options={'title': "Sales Growth"})
        </pre>
    </div>
    <br />

    <h2>Spline Chart</h2>
    <div id="spline_chart" class="well">

        {{ spline_chart.as_html }}
        <pre class="code">
            data = [
                   ['Year', 'Sales', 'Expenses', 'Items Sold', 'Net Profit'],
                   ['2004', 1000, 400, 100, 600],
                   ['2005', 1170, 460, 120, 310],
                   ['2006', 660, 1120, 50, -460],
                   ['2007', 1030, 540, 100, 200],
                   ]
            data_source = SimpleDataSource(data)
            chart = yui.SplineChart(data_source, options={'title': "Sales/ Expense"})
        </pre>
    </div>
    <br />

    <h2>Column Chart</h2>
    <div id="column_chart" class="well">
        {{ column_chart.as_html }}
        <pre class="code">
            data = [
                   ['Year', 'Sales', 'Expenses', 'Items Sold', 'Net Profit'],
                   ['2004', 1000, 400, 100, 600],
                   ['2005', 1170, 460, 120, 310],
                   ['2006', 660, 1120, 50, -460],
                   ['2007', 1030, 540, 100, 200],
                   ]
            data_source = SimpleDataSource(data)
            chart = yui.ColumnChart(data_source, options={'title': "Sales/ Expense"})
    </div>

    <br />

    <h2>Bar Chart</h2>
    <div id="bar_chart" class="well">
        {{ bar_chart.as_html }}
        <pre class="code">
			data_source = ModelDataSource(queryset, fields=['year', 'sales'])
			chart = yui.BarChart(data_source, options={'title': "Expense Growth"})
        </pre>
    </div>
    <br />

    <h2>Pie Chart</h2>
    <div id="pie_chart" class="well">
        {{ pie_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = yui.PieChart(data_source)
        </pre>
    </div>

    <h2>Area Chart</h2>
    <div id="area_chart" class="well">
        {{ area_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = yui.AreaChart(data_source)
        </pre>
    </div>

    <h2>Areaspline Chart</h2>
    <div id="area_spline_chart" class="well">
        {{ area_spline_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = yui.AreaSplineChart(data_source)
        </pre>
    </div>

    <h2>Combo Chart</h2>
    <div id="combo_chart" class="well">
        {{ combo_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = yui.ComboChart(data_source)
        </pre>
    </div>

    <h2>Combo Spline Chart</h2>
    <div id="combo_spline_chart" class="well">
        {{ combo_spline_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = yui.ComboSplineChart(data_source)
        </pre>
    </div>

    <h2>Marker Series Chart</h2>
    <div id="marker_series_chart" class="well">
        {{ marker_series_chart.as_html }}
        <pre class="code">
        data_source = ModelDataSource(queryset, fields=['year', 'sales'])
        chart = yui.MarkerSeriesChart(data_source)
        </pre>
    </div>

{% endblock %}
