{% extends 'base.html' %}
{% load graphos_tags %}
{% block extra_head %}
<script>

$(document).ready(function() {
$(".model_button").click(function() {
$.post("/", {'data': 'model_data'});
});
$(".redis_button").click(function() {
$.post("/", {'data': 'redis_data'});
});
});


</script>
{% endblock %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/tutorial/">Tutorial</a></li>
        <li><a href="/tutorial#reference">Reference</a></li>
    </ul>
{%  endblock %}
{% block content %}
<div class='font-set'>
    <h1>Graphos Examples</h1>
    <p class='font-set'>
    Graphos is a helper library for django to plot data into a live graph, fetching data from a modelfield or a redis list. Just use a templatetag and specify which model you what to plot, and add jquery.js and jquery.plot.js to your base.html, you are done. You can tweak with extra options to the tag. As of now, this is just a proof of concept design. Missing a lot of functional implementations a lot code refactoring.
</p>
<br>

<p class='control-group success font-set'>You can update a chart, in real-time.</p>



<h2>Django Model field TimeSeries Plot</h2>
{{ "{% plot_model_series '1' 'timeseries' 'value' '200' '100' '50' '800' '200' '#FF9100' "|add:"%}" }}
{% plot_model_series '1' 'timeseries' 'value' '200' '100' '50' '800' '200' '#FF9100' %}
<!--
This is where magic happens.
-->
<button class='model_button btn btn-info'> Add Model Data </button>
<br>
<br>
<h2>Redis List TimeSeries Plot</h2><br>
{{ "{% plot_redis_series '2' 'localhost' 'graphos' '200' '100' '1000' '800' '200' '##5BC0DE' "|add:"%}" }}
{% plot_redis_series '2' 'localhost' 'graphos' '200' '100' '1000' '800' '200' '##5BC0DE'%}
<!--
This is where magic happens.
-->
<br>
<button class='redis_button btn btn-info'> Add Redis Data </button>
</div>
{% endblock %}
