<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Graphos</title>
    <meta name="description" content="">
    <link href="/{{STATIC_URL}}img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="/{{STATIC_URL}}img/favicon.ico" type="image/x-icon" rel="icon" />
    <link href="/{{STATIC_URL}}img/favicon.gif" type="image/gif" rel="icon" />
    <link href="/{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="/{{STATIC_URL}}css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <script type="text/javascript" src="/{{STATIC_URL}}js/jquery.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/{{STATIC_URL}}js/excanvas.min.js"></script><![endif]-->
    <script src="/{{STATIC_URL}}js/jquery.flot.js"></script>
    <script src="/{{STATIC_URL}}js/jquery.flot.time.js"></script>
    <script src="/{{STATIC_URL}}js/jquery.flot.pie.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
  <a href="http://github.com/agiliq/django-graphos"><img style="position: absolute; z-index:30000; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Graphos</a>
          <a href="#" style="font-size: 14px;margin-top: 7px;" class="brand">Django Charting made *really* easy.</a>

     {% block menu %}
          <ul class="nav nav-tabs">
              <li class="active"><a href="{% url 'demo_home' %}">Home</a></li>
              <li><a href="{% url 'demo_tutorial' %}">Tutorial</a></li>
              <li><a href="{% url 'demo_gchart_demo' %}">Gchart</a></li>
              <li><a href="{% url 'demo_morris_demo' %}">Morris</a></li>
              <li><a href="{% url 'demo_matplotlib_demo' %}">Matplotlib</a></li>
              <li><a href="{% url 'demo_flot_demo' %}">Flot</a></li>
              <li><a href="{% url 'demo_yui_demo' %}">Yui</a></li>
              <li><a href="{% url 'demo_highcharts_demo' %}">Highcharts</a></li>
              <li><a href="{% url 'demo_time_series_example' %}">Time Series Example</a></li>
          </ul>
      {%  endblock %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1">
        </div><!--/span-->
        <div class="span9">
            {% block content %}
            {% endblock %}
          </div>
          </div>
          <br>
        <div class="span10 offset3">
        </div>
       </div>
      <hr>

      <footer>
        <p> © 2012 Agiliq Info Solutions Pvt. Ltd. </p>
      </footer>




</body>
</html>
